label.string.required {
  margin-right: 12px;
}
.bg-white.rounded.p-3.shadow {
  height: 258px;
}
.boutton {
  margin-top: 10px;
  background-color: rgb(47, 227, 47);
  border-radius: 5px;
  border: 1px;
  padding: 10px;
}
.bg-white.rounded.p-3.shadow {
  display: grid;
}
a.button {
  background-color: rgb(47, 227, 47);
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  border: solid 1px;
}
